@import "assets/bs.css";
.sidebar {
    width: 200px;
    background: #fbfbfb;
}
.btn{
    border-radius: 0;
    margin-right: 0;
}
@keyframes Track {
    from {
        background-color: rgb(231, 149, 56);
    }

    to {
        background-color: #fff;
    }
}

@keyframes Card {
    from {
        background-color: rgb(149, 231, 56);
    }

    to {
        background-color: #fff;
    }
}

.animTrack {
    animation-name: Track;
    animation-duration: 1s;
    tr,td{
    animation-name: Track;
    animation-duration: 1s;
    }
}

.animCard {
    animation-name: Card;
    animation-duration: 1s;
}